<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jigneshandroidtops">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JigneshAndroidTops"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".room_crud.EmpListActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".storage.InternalStorageActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".bottom_sheet.MySheetActivity"
            android:exported="true"></activity>
        <activity
            android:name=".webview.MyWebActivity"
            android:exported="true" />
        <activity
            android:name=".expandable_toolbar.MyToolActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerView_serachView.MyDataActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerView_crud.WeatherListActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerView.VehicleListActivity"
            android:exported="true" />
        <activity
            android:name=".implicit_intent.ImplicitActivity"
            android:exported="true" />
        <activity
            android:name=".viewpager.TabPagerActivity"
            android:exported="true" />
        <activity
            android:name=".extra.AToFStringActivity"
            android:exported="true" />
        <activity
            android:name=".adapters.simple_adapter.SimpleAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".adapters.spinner_autoComplete.SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".adapters.array_adapter.AdapterActivity"
            android:exported="true" />
        <activity
            android:name=".navigation_drawer.MyDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".add_view_programmatically.MyActivity"
            android:exported="true" />
        <activity
            android:name=".dialog.MyDialogActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>